.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;

    #video {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .content {
        text-align: center;
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
        top: 40vh;

        h1 {
            font-size: 4rem;
            color: #fff;
        }

        p {
            font-size: 1.8rem;
            font-weight: 200;
            text-transform: uppercase;
            margin-bottom: 1.6rem;
            color: #fff;
        }
    }
    .btn{
        margin: 1rem .2rem;
    }

}

@media screen and (max-width: 640px) {
    .hero{
        .content{
            h1{
                font-size: 1.9rem;
            }
            p{
                font-size: 1.3rem;
                margin-bottom: 1.6rem;
            }
        }
    }
}